<pngx-widget-frame title="Paperflow AI" i18n-title>
  <ng-container content>
    <div class="chat-container" #chatContainer>
      <div
        *ngFor="let message of messages"
        class="chat-message"
        [ngClass]="{
          'user-message': message.role === 'user',
          'bot-message': message.role === 'assistant',
        }"
      >
        <div class="message-bubble">
          <div
            *ngIf="message.isStreaming && !message.content"
            class="typing-animation"
          >
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <markdown *ngIf="message.content" [data]="message.content"></markdown>
          <div
            *ngIf="message.role === 'assistant' && message.references?.length"
            class="chat-references list-group mt-2"
          >
            <a
              *ngFor="let reference of message.references"
              class="list-group-item list-group-item-action text-primary"
              [routerLink]="['/documents', reference.id]"
            >
              <i-bs
                width="0.9em"
                height="0.9em"
                name="file-text"
                class="me-1"
              ></i-bs
              ><span>{{ reference.title }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-controls">
      <form class="chat-form" (submit)="sendMessage()">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Ask me anything"
            i18n-placeholder
            [(ngModel)]="input"
            name="message"
            [disabled]="loading"
          />
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="loading"
            i18n
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </ng-container>
</pngx-widget-frame>
