.dropdown-menu {
  width: var(--pngx-toast-max-width);
}

.dropdown-toggle::after {
  display: none;
}

@media screen and (max-width: 400px) {
  :host ::ng-deep .dropdown-menu-end {
    right: -3rem;
  }
}
